.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}


@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.drop{
  background-color: bisque;
  font-size:1cm;
  
}
.title1{
  color:rgb(139, 125, 0);
  text-align: center;
  padding: 20px;
  font-size:2cm;
}
.title2{
  color:rgb(2, 8, 8);
  background-color: rgb(250, 249, 244);
  text-align: center;
  font-size:2cm;
  padding: 20px;
}
.contenedor{
  background-color: antiquewhite;
}
.img1{
  height: 100mm;
  width: 100mm;
  padding: 10px;
  transform: rotate(10deg);
}
.img2{
  min-height: 50vh;
  width: 40vmin;
  align-items: center;
  margin-left: 70px;
  padding: 10px;
}
.img3{
  height: 50vh;
  transform: rotate(15deg);
  padding: 10px;
  margin-left: 70px;
}
.textbook1{
  background-color: #f5cc75;
  font-size: larger;
  padding:10px;
  text-align: center;
  font-style:oblique;
  font-size:0.8cm;
}
.textbook2{
  font-size: xx-large;
  text-align: center;
  padding:44px;
  font-style: italic;
  font-size:2.5cm;
}
.textpokemon{
  background-color: #f5cc75;
  font-size: larger;
  padding:10px;
  text-align: center;
  font-style:oblique;
  font-size:0.8cm;
}
.textgatos{
  background-color: #f5cc75;
  font-size: larger;
  padding:10px;
  text-align: center;
  font-style:oblique;
  font-size:0.8cm;
}
.labels{
  color: rgb(163, 133, 33);
  font-style:oblique;
  font-size:0.8cm;
  padding: 10px;
}
.table{
  background-color: rgb(250, 246, 240);
  font-size:0.8cm;
  text-align: center;
}